@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
}
.container{
    padding: 0% !important;
}
.nav-link{
    color: black !important;
}

.active{
    background-color: black !important;
    color: white !important;
}
.card-body{
    height: 80%;
    width: 100%;
    top: 0;
    right: 0;
    position: absolute;
    backdrop-filter:inherit;
}
.indexhero{
    background-image: url(images/indexhero.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height:45rem;
    color: rgb(235, 224, 205);
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}
.comparehero{
    background-color: black;
    height:10rem;
    color: white;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    margin: 3rem 0 ;
}
.comparehero button{
    border-radius: 20px;
    
}
.cardhead{
    color: white;
    font-size:larger;
    font-weight: bolder;
    margin-left: 2em;
}
.card-body{
    color: white;
    display: flex;
    justify-content:end;
    flex-direction: column;
    align-items:flex-start;
   

}
.cardbody{
    color: white;
    margin-left: 2em;
}
.cardbody button, button{
    border-radius: 20px;
    padding: 0 1em;
    border: none;
    outline: none;
    
}
.shopnow{
    border-radius: 20px;
    padding:0.55em;
    border: none;
    outline: none;
    background-color: black;
    color: white;
}
.jordoncolor1,.jordoncolor2,.jordoncolor3,.jordoncolor4{
    cursor:pointer;
}

.jordonheropage{
    background-image: url(images/jordonBackground.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height:35rem;
    color: white;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;

}
.airmaxheropage{
    background-image: url(images/airmaxhero.webp);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height:35rem;
    color: white;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;

}
.dunkheropage{
    background-image: url(images/dunkhero.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height:35rem;
    color: white;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;

}
img{
    border-radius: 10px;
}
@media (max-width: 798px) {
    .memberoffers,.products{
        flex-wrap: wrap;
        
    }
    .youmaylike{
        flex-direction: column;
    }
    #tableimage{
        display: none;
    }
    
  }